

<p>Ajouter une nouvelle course</p>

<form #f="ngForm" (ngSubmit)="save(f)"  class="  w-100 align-items-center">
  <div class="form-control">
    <label>title</label>
    <input name="title" type="text" class="form-control" ngModel  #t="ngModel"  minlength="3" pattern="[a-zA-Z]*">
  </div>
  <div class=" alert alert-danger" *ngIf="t.invalid && t.touched">
    <div *ngIf="t.errors?.['minlength']">
      the title name  must be 3 caracters
    </div>
    <div *ngIf="t.errors?.['pattern']">
      the course  name must be letter
    </div>
  </div>



  <div class="form-control">
    <label>Description</label>
    <input name="description" type="text" class="form-control" ngModel   #d="ngModel">
  </div>


  <div class="form-control">
    <label>skills</label>
    <input name="skills" type="text" class="form-control" ngModel   #s="ngModel" pattern="[a-zA-Z]*">
  </div>
  <div class=" alert alert-danger" *ngIf="s.invalid && s.touched">

    <div *ngIf="s.errors?.['pattern']">
      the skills  must be number
    </div>

  </div>


  <button class="btn btn-outline-dark" [disabled]="f.invalid"  type="submit" >enregistrer</button>
</form>
