

<div class="container mt-4" >

<input type="text">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">film</th>
      <th scope="col">salle</th>
      <th scope="col">description</th>
      <th scope="col">nbplace</th>
      <th scope="col">raiting</th>
      <th scope="col">##</th>



    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of listMovie">
      <th scope="row">{{movie.id}}</th>
      <td>{{movie.nomfilm}}</td>
      <td>{{movie.nomSalle}}</td>
      <td>{{movie.description}}</td>
      <td>{{movie.nbPlace}}</td>
      <td>{{movie.raiting}}</td>
      <td><a class="btn-dark" (click)="navigate(movie.id)"> Detail</a>  <a class="nav-link mt-2" (click)="affectRating(movie)"> Raiting</a></td>


    </tr>
    </tbody>
  </table>
</div>












